<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>add form</title>
</head>
<body>

<center><h1>add form</h1>
    <form action="#" th:action="@{admin/add}" th:object="${user}" method="post" align="center">
        <p>Name: <input type="text" th:field="*{name}"/></p>
        <p>City: <input type="text" th:field="*{city}"/></p>
        <p>Email: <input type="text" th:field="*{email}"/></p>
        <p>Password: <input type="text" th:field="*{password}"/></p>
        <p><input type="submit" value="Submit"/></p>
    </form>
</center>
</body>
</html>