<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Person List</title>
</head>
<body>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"></input>
</form>
<br/><h1>Person List</h1>
<a href="admin/add">Add Person</a>

<br/><br/>
<div>
    <table  cellpadding="10" border="1" width="80%" align="center" bgcolor="#ffcc00">
        <tr>
            <th>Name</th>
            <th>City</th>
            <th>Email</th>
            <th>Password</th>
            <th>Roles</th>
            <th>...</th>
        </tr>
        <tr th:each ="person : ${listz}">
            <td th:utext="${person.getName()}">...</td>
            <td th:utext="${person.getCity()}">...</td>
            <td th:utext="${person.getEmail()}">...</td>
            <td th:utext="${person.getPassword()}">...</td>
            <td th:utext="${person.getStringRoles()}">...</td>
            <td>
                <a th:href="@{/admin/delete(id=${person.id})}">Delete</a>
                <a th:href="@{/admin/edit(id=${person.id})}">Edit</a>

            </td>
        </tr>
    </table>
</div>
</body>
</html>